.App {
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  font-size: larger;

  text-align: center;
}

h1 {
  font-weight: bold;
  height: 10%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 15%;
}
.body {
  display: flex;
  justify-content: center;
  height: 80%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  gap: 30px;
}
label {
  font-weight: bold;
}
input {
  height: 30px;
  border-radius: 10px;
}

.register {
  background-color: #574dcc;
  color: aliceblue;
  /* font-weight: bold; */
  border: 2px lightgray solid;
  font-size: large;
  width: 70%;
}
.registerContainer {
  display: flex;
  justify-content: center;
}

footer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer b {
  font-weight: bold;
}
